@using OnlineAuctionProject.Resources


<button type="button" id="btnRolesExplanation" title="@Resource.ShowHide" class="btn btn-primary btn-block AnimatedBtn">
    @Resource.RolesExplanation
    <span></span>
</button>

<div id="RolesExplanationPanel">
    <div class="table-responsive">
        <table class="table customTable1">
            <thead>
                <tr>
                    <th>
                        @Resource.RoleName
                    </th>
                    <th>
                        @Resource.RoleDescription
                    </th>
                    <th>
                        @Resource.Permissions
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        User
                    </td>
                    <td>
                        @Resource.RoleUserDesc
                    </td>
                    <td>
                        <ul class="permissionsList">
                            <li>
                                @Resource.EditProfile
                            </li>
                            <li>
                                @Resource.ChangePassword
                            </li>
                            <li>
                                @Resource.AddNewAuction
                            </li>
                            <li>
                                @Resource.BrowseAndSearchForAuctions
                            </li>
                            <li>
                                @Resource.Biddings
                            </li>
                            <li>
                                @Resource.ReviewPersonalAuctions
                            </li>
                            <li>
                                @Resource.ReviewOngoingBiddings
                            </li>
                            <li>
                                @Resource.ReviewWinningAuctions
                            </li>
                            <li>
                                @Resource.OnlinePaymentForAuctions
                            </li>
                            <li>
                                @Resource.ReviewPaidAuctions
                            </li>
                            <li>
                                @Resource.SendingMessagesToWebsiteAdministration
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        Admin
                    </td>
                    <td>
                        @Resource.RoleAdminDesc
                    </td>
                    <td>
                        <ul class="permissionsList">
                            <li>
                                @Resource.EditProfile
                            </li>
                            <li>
                                @Resource.ChangePassword
                            </li>
                            <li>
                                @Resource.AuctionsManagement
                            </li>
                            <li>
                                @Resource.ManageUsers
                            </li>
                            <li>
                                @Resource.ManageWebsiteMessages
                            </li>
                            <li>
                                @Resource.ReviewStatistics
                            </li>
                            <li>
                                @Resource.ReviewReports
                            </li>
                            <li>
                                @Resource.ManageCategories
                            </li>
                            <li>
                                @Resource.ManageCountries
                            </li>
                            <li>
                                @Resource.ManageCurrencies
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        Supervisor
                    </td>
                    <td>
                        @Resource.RoleSupervisorDesc
                    </td>
                    <td>
                        <ul class="permissionsList">
                            <li>
                                @Resource.EditProfile
                            </li>
                            <li>
                                @Resource.ChangePassword
                            </li>
                            <li>
                                @Resource.AuctionsManagement
                            </li>
                            <li>
                                @Resource.ReviewStatistics
                            </li>
                            <li>
                                @Resource.ReviewReports
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        Support
                    </td>
                    <td>
                        @Resource.RoleSupportDesc
                    </td>
                    <td>
                        <ul class="permissionsList">
                            <li>
                                @Resource.EditProfile
                            </li>
                            <li>
                                @Resource.ChangePassword
                            </li>
                            <li>
                                @Resource.ManageWebsiteMessages
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>