@using OnlineAuctionProject.Resources
@using PagedList
@using PagedList.Mvc
@model IPagedList<OnlineAuctionProject.Models.Auction>

@{
    ViewBag.Title = Resource.AuctionsManagement;
    string auctionStatusStyle = "";
}

<h3>
    <span class="glyphicon glyphicon-asterisk"></span>
    @Resource.AuctionsManagement
</h3>

<hr />

<div class="Box">
    <div class="row">
        <div class="col-lg-12">
            @using (Html.BeginForm("AuctionsManagement", "Admin", FormMethod.Get))
            {
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.DropDownList("Category", null, Resource.All, new { @class = "form-control dropDownList", onchange = "javascript:this.form.submit();" })
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        @Html.TextBox("Search", null, new { @class = "form-control", placeholder = Resource.AdminSearchAuctionBoxPlaceHolder })
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <button type="submit" class="btn btn-success btn-block">
                        @Resource.Search
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            }
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <h4 class="alert alert-info text-center">
                <span class="glyphicon glyphicon-blackboard"></span>
                @Resource.AuctionsCount @ViewBag.AuctionsCount
            </h4>
            @if (Model.Count <= 0)
            {
                <h3 class="text-info text-center">
                    @Resource.NoRecordsFound
                </h3>
            }
            else
            {
                <h4>
                   @switch (OnlineAuctionProject.ManageWebsiteLanguage.SiteLanguages.GetCurrentLanguageCulture())
                    {
                        case "en-US":
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            break;
                        case "ar-SA":
                        <span class="glyphicon glyphicon-chevron-left"></span>
                            break;
                    }
                    @Resource.ClickOnAuctionToManage
                </h4>
                <hr />
                foreach (var m in Model)
                {
                    auctionStatusStyle = m.Finish_Date <= DateTime.Now ? "color:Red" : "color:Green";

                    <a href="@Url.Action("BidsDetails", "Admin", new { Id = m.Id })">
                        <div class="AdminAuctionBox">
                            <img src="@Url.Content(m.Product.Images.Take(1).SingleOrDefault().Path)" class="img-thumbnail AdminAuctionBoxImg img-responsive" alt="@Resource.Image" />
                            <p class="text-center">@m.Product.Name</p>
                            <p>
                                @Resource.AuctionStatus:
                                <span style="@auctionStatusStyle">
                                    @(m.Finish_Date <= DateTime.Now ? Resource.Finished : Resource.Ongoing)
                                </span>
                            </p>
                        </div>
                    </a>
                }
            }
        </div>
    </div>
    @Html.PagedListPager(Model, page => Url.Action("AuctionsManagement", "Admin", new { page }),
                        new PagedListRenderOptions()
                        {
                            Display = PagedListDisplayMode.IfNeeded,
                            DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded
                        })

    <br />
    <a href="@Url.Action("Index","Admin")" class="btn btn-default">
        <span class="@Resource.BackToAdminPageGlyph"> </span>
    </a>
</div>