@using OnlineAuctionProject.Resources
@model OnlineAuctionProject.Models.Country

@{
    ViewBag.Title = Resource.EditCountry;
}

<h3>
    <span class="glyphicon glyphicon-edit"></span>
    @Resource.EditCountry
</h3>

<hr />

<div class="Box">
    <div class="row">
        <div class="col-lg-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.HiddenFor(model => model.Id)
                    <p>
                        <span class="glyphicon glyphicon-info-sign"></span>
                        @Resource.EditCountryInfo .
                    </p>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = Resource.AddCountryPlaceHolder })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name_Ar, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Name_Ar, new { @class = "form-control", placeholder = Resource.AddCountryPlaceHolderAr })
                            @Html.ValidationMessageFor(model => model.Name_Ar)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-success">
                                @Resource.Save
                                <span class="glyphicon glyphicon-floppy-save"></span>
                            </button>
                        </div>
                    </div>
                    <div class="alert-danger">
                        <p>
                            @ViewBag.ErrorAddingCountry
                        </p>
                    </div>
                    @Html.ValidationSummary(true)

                </div>
            }

        </div>
    </div>
    <br />
    <a href="@Url.Action("Countries","Admin")" class="btn btn-default">
        <span class="@Resource.BackToAdminPageGlyph"> </span>
    </a>
</div>
