@using OnlineAuctionProject.Resources
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using OnlineAuctionProject.Models
@{
    ViewBag.Title = Resource.Administration;
    ApplicationDbContext db = new ApplicationDbContext();
    var userStore = new UserStore<ApplicationUser>(db);
    var userManager = new UserManager<ApplicationUser>(userStore);
}

<h3>
    <span class="glyphicon glyphicon-wrench"> </span>
    @Resource.Administration
</h3>
<hr />
<div class="Box">
    <div class="row">
        <div class="col-lg-12">
            <h4>
                <span class="glyphicon glyphicon-user"></span>
                @Resource.CurrentAdmin: @User.Identity.Name
            </h4>
            <p class="label label-info">
                <span class="glyphicon glyphicon-check"></span>
                @Resource.Roles:
                @{
                    var userRoles = userManager.GetRoles(User.Identity.GetUserId()).ToList();
                    foreach (var role in userRoles)
                    {
                        @:@role.ToString()


                        if (userRoles.Count > 1)
                        {
                            <text> / </text>
                        }
                    }
                }
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="alert-success">
                <h4 class="text-center">
                    <span class="glyphicon glyphicon-king"></span>
                    @Resource.AdminOptions
                </h4>
            </div>
            <div>
                @if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
                {
                    <a href="@Url.Action("AuctionsManagement","Admin")" >
                        <div id="AuctionsManagementAdminBtn" class="AdminOptionsBtn">
                            <span>
                                @Resource.AuctionsManagement
                            </span>
                        </div>
                    </a>
                }
                @if (User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("ManageUsers", "Admin")">
                        <div id="UsersAdminBtn" class="AdminOptionsBtn">
                            <span> @Resource.ManageUsers </span>
                        </div>
                    </a>
                }
                @if (User.IsInRole("Support") || User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("Messages", "Admin")">
                        <div id="MessagesAdminBtn" class="AdminOptionsBtn">

                            <span>
                                @Resource.Messages
                                (@db.Messages.Count(x => x.IsSeen == false))
                            </span>
                        </div>
                    </a>
                }

                @if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
                {
                    <a href="@Url.Action("Statistics", "Admin")">
                        <div id="StatisticsAdminBtn" class="AdminOptionsBtn">
                            <span> @Resource.Statistics </span>
                        </div>
                    </a>

                    <a href="@Url.Action("Reports", "Admin")">
                        <div id="ReportsAdminBtn" class="AdminOptionsBtn">
                            <span>
                                @Resource.Reports
                                (@db.Reports.Where(x => !x.Seen).Select(x => x.auction).Count())
                            </span>
                        </div>
                    </a>
                }

            </div>

        </div>
    </div>
    <br />
    @if (User.IsInRole("Admin"))
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="alert-danger">
                    <h4 class="text-center">
                        @Resource.ContentMng
                    </h4>
                </div>
                <div class="col-lg-4 ">
                    <div class="btn-group btn-group-justified">
                        @Html.ActionLink(Resource.Categories, "Categories", "Admin", null, new { @class = "btn btn-default btn-lg" })
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="btn-group btn-group-justified">
                        @Html.ActionLink(Resource.Countries, "Countries", "Admin", null, new { @class = "btn btn-default btn-lg" })
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="btn-group btn-group-justified">
                        @Html.ActionLink(Resource.Currencies, "Currencies", "Admin", null, new { @class = "btn btn-default btn-lg" })
                    </div>
                </div>
            </div>
        </div>
        <br />
    }
</div>
