@using PagedList
@using PagedList.Mvc
@using OnlineAuctionProject.Resources
@using OnlineAuctionProject.Models
@model IPagedList<Message>

@{
    ViewBag.Title = Resource.Messages;
    var msgStyle = "";
    System.Globalization.CultureInfo en = new System.Globalization.CultureInfo("en-US");
    System.Threading.Thread.CurrentThread.CurrentCulture = en;
    TimeZoneInfo tzi = OnlineAuctionProject.Repository.TimeZonesManagement.GetTimeZoneInfo();}

<h3>
    <span class="glyphicon glyphicon-envelope"></span>
    @Resource.Messages
</h3>
<hr />

<div class="Box">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-7">
            <h4>
                <span class="glyphicon glyphicon-list-alt"></span>
                @Resource.MessagesFromVisitorsAndUsers
            </h4>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
            @using (Html.BeginForm("Messages", "Admin", FormMethod.Get))
            {
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>

                    @Html.DropDownList("Sender", new List<SelectListItem>
                   {
                       new SelectListItem{
                            Text = Resource.All,
                            Value = "All"
                        },
                        new SelectListItem{
                            Text = Resource.User,
                            Value = "User"
                        },
                        new SelectListItem{
                            Text = Resource.Visitor,
                            Value = "Visitor"
                        },
                        new SelectListItem{
                            Text = Resource.Website,
                            Value = "Website"
                        }
                   }, new { @class = "form-control dropDownList" , onchange = "javascript:this.form.submit();"})
           
                </div>

            }
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-lg-12">
            @if (Model.Count == 0)
            {
                <h3 class="text-danger text-center">
                    @Resource.NoRecordsFound
                </h3>
            }
            else
            {
                using (Html.BeginForm("DeleteMessage", "Admin", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <a href="@Url.Action("SendEmailToAllUsers", "Admin")" class="btn btn-default">
                                <span class="glyphicon glyphicon-envelope"></span>
                                @Resource.SendEmailToAllUsers
                            </a>
                        </div>

                        <div class="col-lg-2 col-md-2  col-sm-2 col-md-push-5 col-sm-push-4 col-lg-push-6">
                            <button type="submit" class="btn btn-danger" id="btnDelete">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                                @Resource.DeleteSelceted
                            </button>
                        </div>
                    </div>
                <p id="errorDeleteMsgs" class="alert-danger text-center">

                </p>
               
                    <div class=" table-responsive">
                        <table class="table table-responsive table-striped customTable1">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" id="checkAllMessages" />
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
                                    </th>
                                    <th>
                                        @Resource.SenderType
                                    </th>
                                    <th>
                                        @Resource.Date
                                    </th>
                                    <th>
                                        @Resource.Time
                                    </th>
                                    <th>
                                        @Resource.Options
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var m in Model)
                                {
                                    if (!m.IsSeen)
                                    {
                                        msgStyle = "font-weight:bold;";
                                    }
                                    else
                                    {
                                        msgStyle = "font-weight:normal;";
                                    }

                                    <tr style="@msgStyle">
                                        <td>
                                            <input type="checkbox" id="MessageIdsToDelete" name="MessageIdsToDelete" value="@m.Id" />
                                        </td>
                                        <td>
                                            @m.Email
                                        </td>
                                        <td>
                                            @if (m.SenderType == "Visitor")
                                            {
                                                @:@Resource.Visitor
                                        }
                                            else if (m.SenderType == "User")
                                            {
                                                @:@Resource.User
                                        }
                                            else if (m.SenderType == "Website")
                                            {
                                                @:@Resource.Website
                                        }
                                        </td>
                                        <td>
                                            @TimeZoneInfo.ConvertTimeFromUtc(m.MessageDateAndTime.Value.ToUniversalTime(), tzi).ToShortDateString()
                                        </td>
                                        <td>
                                            @TimeZoneInfo.ConvertTimeFromUtc(m.MessageDateAndTime.Value.ToUniversalTime(), tzi).ToShortTimeString()                                        </td>
                                        <td>
                                            <a href="@Url.Action("MessageView", "Admin", new { Id = m.Id })" class="btn btn-default AnimatedBtn">
                                                @Resource.ViewMessage
                                                <span></span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <br /><br />
                    </div>
                }
            }
        </div>

    </div>
    @Html.PagedListPager(Model, page => Url.Action("Messages", "Admin", new { page }),
                        new PagedListRenderOptions()
                        {
                            Display = PagedListDisplayMode.IfNeeded,
                            DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded
                        })

    <br />
    <a href="@Url.Action("Index","Admin")" class="btn btn-default">
        <span class="@Resource.BackToAdminPageGlyph"> </span>
    </a>
</div>

<script type="text/javascript">
    $(function () {
        $("#checkAllMessages").click(function () {
            $("input[name='MessageIdsToDelete']").attr("checked", this.checked);

            $("input[name='MessageIdsToDelete']").click(function () {
                if ($("input[name='MessageIdsToDelete']").length == $("input[name='MessageIdsToDelete']:checked").length) {
                    $("#checkAllMessages").attr("checked", "checked");
                }
                else {
                    $("#checkAllMessages").removeAttr("checked");
                }
            });
        });

        $("#btnDelete").click(function () {
            var count = $("input[name='MessageIdsToDelete']:checked").length;
            if (count == 0) {
                $('#errorDeleteMsgs').html('@Resource.SelectMessagesToDelete');
                return false;
            }
            else {
                return confirm('@Resource.AreYouSureYouWantTo @Resource.DeleteSelceted ?');
            }
        });

        $("input[name='MessageIdsToDelete']").click(function () {
            $('#errorDeleteMsgs').html('');
        });
    });
</script>