@model OnlineAuctionProject.Models.ReplyMessageViewModel
@using OnlineAuctionProject.Resources
@{
    ViewBag.Title = Resource.Reply;
}

<h3>
    <span class="glyphicon glyphicon-envelope"> </span>
    @Resource.Reply
</h3>
<hr />
<div class="Box">
    <div class="row">
        <div class="col-lg-8">
            @using (Html.BeginForm("Reply", "Admin", FormMethod.Post))
            {
                @Html.Hidden("Id")
                <div class="form-horizontal">
                    <h4 class="text-info">
                        <span class="glyphicon glyphicon-upload"></span>
                        @Resource.To: @Html.DisplayTextFor(model => model.Email)
                        @Html.HiddenFor(model => model.Email)
                    </h4>
                    <br />
                    <h4 class="text-info">
                        <span class="glyphicon glyphicon-pencil"></span>
                        @Resource.MessageText:
                    </h4>
                    @Html.TextAreaFor(m => m.MessageText, new { @class = "form-control ReplyMsgBox" })
                    <br />
                    <input type="submit" value="@Resource.Send" class="btn btn-default" />
                    <p class="text-center alert-danger">
                        @ViewBag.ErrorSendingEmail
                    </p>
                    <br /><br />
                    <a href="@Url.Action("Messages","Admin")" class="btn btn-default">
                        <span class="@Resource.BackToAdminPageGlyph"> </span>
                        @Resource.BackToMessagesList
                    </a>
                </div>
            }
        </div>
        <div class="col-lg-4">
            <img src="~/Images/email-logo-png.png" class="img-responsive hidden-xs ReplyMsgImg" width="250" alt="@Resource.Image" />
        </div>
    </div>
</div>