@model OnlineAuctionProject.Models.ApplicationUser
@using OnlineAuctionProject.Resources
@{
    ViewBag.Title = Resource.Details;
    TimeZoneInfo tzi = OnlineAuctionProject.Repository.TimeZonesManagement.GetTimeZoneInfo();}

<h3>
    <span class="glyphicon glyphicon-list-alt"></span>
    @Resource.Details

</h3>

<hr />

<div class="Box" style="color:black;">
    <div class="row">
        <div class="col-lg-7">
            <h4 class="text-info">
                <span class="glyphicon glyphicon-user"></span>
                @Resource.UserInfoFor : @Model.UserName
            </h4>
            <div class="table-responsive">
                <table class="UserDetailsTable">
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.FirstName) :
                        </td>
                        <td>
                            @Model.FirstName
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.LastName) :
                        </td>
                        <td>
                            @Model.LastName
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Gender) :
                        </td>
                        <td>
                            @(Model.Gender == "Male" ? Resource.Male : Resource.Female)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Email) :
                        </td>
                        <td>
                            <a href="@Url.Action("Reply", "Admin", new { ToEmail = Model.Email })">
                                @Model.Email
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.PhoneNumber) :
                        </td>
                        <td class="phoneNumber">
                            @Model.PhoneNumber
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Country) :
                        </td>
                        <td>
                            @Model.Country
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.City) :
                        </td>
                        <td>
                            @Model.City
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Street) :
                        </td>
                        <td>
                            @Model.Street
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ZipCode) :
                        </td>
                        <td>
                            @Model.ZipCode
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.RegistrationDateTime) :
                        </td>
                        <td class="DateTime">
                             @TimeZoneInfo.ConvertTimeFromUtc(Model.RegistrationDateTime.Value.ToUniversalTime(), tzi).ToString(new System.Globalization.CultureInfo("en-US"))
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.LastLoginDateTime) :
                        </td>
                        <td class="DateTime">
                            @if (Model.LastLoginDateTime != null)
                            {
                                @:@TimeZoneInfo.ConvertTimeFromUtc(Model.LastLoginDateTime.Value.ToUniversalTime(), tzi).ToString(new System.Globalization.CultureInfo("en-US"))
                              }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.LoginCount) :
                        </td>
                        <td>
                            @Model.LoginCount
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-5">
            <img src="~/Images/info-icon-14.png" class="UserDetailsImg hidden-xs hidden-sm hidden-md" width="250" alt="@Resource.Image" />
        </div>
    </div>

    <a href="@Url.Action("ManageUsers","Admin")" class="btn btn-default">
        <span class="@Resource.BackToAdminPageGlyph"> </span>
    </a>
</div>
