<!DOCTYPE html>
@using OnlineAuctionProject.Resources
@using OnlineAuctionProject.Models
@using Microsoft.AspNet.Identity
@{
    ApplicationDbContext db = new ApplicationDbContext();
    ApplicationUser currentUser = db.Users.Find(User.Identity.GetUserId());
    TimeZoneInfo tzi = TimeZoneInfo.FindSystemTimeZoneById("Syria Standard Time");
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="shortcut icon" href="~/Iconleak-Or-Auction-hammer.ico" />
    <title>@ViewBag.Title - @Resource.Brand </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="@Url.Content(Resource.Bootstrap)" rel="stylesheet" />
    <link href="@Url.Content(Resource.SideBar)" rel="stylesheet" />
    <link href="~/Content/bs.modal.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.countdownTimer.css" rel="stylesheet" />
    <link href="@Url.Content(Resource.StyleSheet)" rel="stylesheet" />

    <link href="~/Content/SharedStyle.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/jquery.countdownTimer.min.js"></script>


</head>
<body>
    <div class="loader-wrapper"><div class="loader spunner" ></div></div>
    <noscript>
        <div class="alert-danger">
            <h2 class="text-danger text-center">
                @Resource.EnableJS
            </h2>
        </div>
    </noscript>
    @Html.Hidden("WebsiteLanguage",OnlineAuctionProject.ManageWebsiteLanguage.SiteLanguages.GetCurrentLanguageCulture())
    @Html.Partial("_SearchPartial")
    @if (!Request.IsAuthenticated)
    {
        @Html.Partial("_LoginPartial")
    }
    <div id="wrapper">
        <div class="overlay"></div>
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a title="@Resource.Home">
                        <img src="~/Images/auction_img1.png" width="25" height="25" class="img-responsive" style="display:inline" />
                        @Resource.Brand
                    </a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="userOptionsMenu" title="@Resource.UserOptions">
                            <b>
                                <span class="glyphicon glyphicon-user"> </span>

                                @if (User.IsInRole("Admin") || User.IsInRole("Supervisor") || User.IsInRole("Support"))
                                {
                                    @:@Resource.Admin
                                 }
                                else
                                {
                                    @:@Resource.User
                                }
                                : @currentUser.UserName
                                <span class="caret"></span>
                            </b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">
                                @Resource.LastLoginDateTime: 
                                @if (Session["LastLoginDateTime"] != null) { 
                                    @:@TimeZoneInfo.ConvertTimeFromUtc(Convert.ToDateTime(Session["LastLoginDateTime"]).ToUniversalTime(), tzi).ToString(new System.Globalization.CultureInfo("en-US"))
                                }
                                else
                                {
                                    @:@Resource.NotAvailable
                                }
                            </li>
                            <li>
                                <a href="@Url.Action("EditProfile","Account")">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    @Resource.EditProfile
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Manage","Account")">
                                    <span class="glyphicon glyphicon-cog"></span>
                                    @Resource.ChangePassword
                                </a>
                            </li>
                            @if (User.IsInRole("Admin") || User.IsInRole("Support") || User.IsInRole("Supervisor"))
                            {
                                <li>
                                    <a href="@Url.Action("Index", "Admin")">
                                        <span class="glyphicon glyphicon-wrench"> </span>
                                        @Resource.Administration
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                <li>
                    <a href="@Url.Action("Index","Home")">
                        <span class="glyphicon glyphicon-home"> </span>
                        @Resource.Home
                    </a>
                </li>
                @if (!User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="#" id="loginLink">
                            <span class="glyphicon glyphicon-log-in"> </span>
                            @Resource.Login
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Register", "Account", new { returnUrl = Url.Action("Index","Home") })">
                            <span class="glyphicon glyphicon-check"> </span>
                            @Resource.Register
                        </a>
                    </li>
                }
                else
                {
                    if (User.IsInRole("User"))
                    {
                        <li>
                            <a href="@Url.Action("AddNewAuction", "Auction")">
                                <span class="glyphicon glyphicon-plus-sign"> </span>
                                @Resource.AddNewAuction
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("MyOngoingBiddings", "Auction")">
                                <span class="glyphicon glyphicon-time"> </span>
                                @Resource.MyOngoingBiddings
                                <span class="badge">
                                    @db.Bids.Where(x => x.Bidder.Id == currentUser.Id && x.Auction.Finish_Date > DateTime.Now).Select(x => x.Auction).Distinct().Count()
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("MyAuctions", "Auction")">
                                <span class="glyphicon glyphicon-briefcase"> </span>
                                @Resource.MyAuctions
                                <span class="badge">
                                    @db.Auctions.Where(x => x.Seller.Id == currentUser.Id).Count()
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("MyWinningAuctions", "Auction")">
                                <span class="glyphicon glyphicon-shopping-cart"> </span>
                                @Resource.MyWinningAuctions
                                <span class="badge">
                                    @db.Auctions.Where(x => x.Buyer.Id == currentUser.Id
                                                                      && x.Finish_Date <= DateTime.Now
                                                                      && x.IsPaid == false).Count()
                                </span>
                            </a>
                        </li>
                    }
                    <li>
                        <a href="@Url.Action("LogOff", "Account")">
                            <span class="glyphicon glyphicon-off"> </span>
                            @Resource.Logout
                        </a>
                    </li>
                }
                <li>
                    <a href="@Url.Action("Contact","Home")">
                        <span class="glyphicon glyphicon-envelope"> </span>
                        @Resource.Contactus
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("About","Home")">
                        <span class="glyphicon glyphicon-info-sign"> </span>
                        @Resource.About
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas" title="@Resource.Nav">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>

            @if (User.Identity.IsAuthenticated)
            {
                
                <a class="LogBtn" href="@Url.Action("LogOff","Account")" title="@Resource.Logout">
                    <span class="glyphicon glyphicon-off"></span>
                </a>
                
            }
            else
            {
                <a class="LogBtn" href="#" data-target="#loginModal" data-toggle="modal" title="@Resource.Login">
                    <span class="glyphicon glyphicon-log-in"></span>
                </a>
            }
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                        @if(User.Identity.IsAuthenticated)
                        {
                            <p>
                                <div class="dropdown headerUserWelcome" title="@Resource.UserOptions">
                                    <span class="label label-default" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-user"></span>
                                        @Resource.Welcome: @currentUser.FirstName @currentUser.LastName
                                        <span class="caret dropDownList"></span>
                                    </span>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="@Url.Action("EditProfile", "Account", new { Id = currentUser.Id })">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                                @Resource.EditProfile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Manage", "Account", new { Id = currentUser.Id })">
                                                <span class="glyphicon glyphicon-cog"></span>
                                                @Resource.ChangePassword
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                        }
                        <div class="header">
                            @if (User.IsInRole("Admin") || User.IsInRole("Supervisor") || User.IsInRole("Support"))
                            {
                                <a href="@Url.Action("Index","Admin")" id="HeaderAdminBtn" class="text-center" title="@Resource.Administration">
                                    <span class="glyphicon glyphicon-wrench"></span>
                                </a>
                            }
                            @if(User.IsInRole("User") || !User.Identity.IsAuthenticated)
                            { 
                                <a href="#" data-toggle="modal" data-target="#SearchModal" title="@Resource.Search">
                                    <div class="searchBtn text-center">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </div>
                                </a>
                            }
                            <h1 class="text-center">
                                <a href="@Url.Action("Index","Home")" class="Logo" title="@Resource.Home">
                                    @Resource.Brand
                                </a>
                            </h1>
                        </div>
                        @RenderBody()
                        <hr />
                        <div class="clearFloat"></div>
                        <footer>
                            <p class="text-center">
                                &copy; @DateTime.Now.Year - @Resource.footer
                            </p>

                            <div class="languageChoices">
                                <span class="glyphicon glyphicon-globe"></span>
                                @foreach (var l in OnlineAuctionProject.ManageWebsiteLanguage.SiteLanguages.AvailableLanguages)
                                {
                                    @Html.ActionLink(l.LanguageName, "ChangeLanguage", "Home", new { lang = l.LanguageAbbr }, null)
                                    <span> &nbsp; </span>
                                }
                            </div>

                        </footer>
                    </div>
                </div>
                <a href="#" class="backToTop" title="@Resource.BackToTop" >@Resource.BackToTop</a>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
    </div>
    <!-- /#wrapper -->
    @RenderSection("scripts", required: false)

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/LoginModal.js"></script>
    <script src="~/Scripts/bs.Modal.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.0.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.countdownTimer.min.js"></script>
    <script src="~/Scripts/Site.js"></script>
</body>
</html>
