@using OnlineAuctionProject.Resources
@{
    OnlineAuctionProject.Models.ApplicationDbContext db = new OnlineAuctionProject.Models.ApplicationDbContext();
    switch (OnlineAuctionProject.ManageWebsiteLanguage.SiteLanguages.GetCurrentLanguageCulture())
    {
        case "en-US":
            ViewBag.Category = new SelectList(db.Categories.Where(x => x.Visible).OrderBy(x => x.Category_Name).ToList(), "Id", "Category_Name");
            break;
        case "ar-SA":
            ViewBag.Category = new SelectList(db.Categories.Where(x => x.Visible).OrderBy(x => x.Category_Name_Ar).ToList(), "Id", "Category_Name_Ar");
            break;
        default:
            ViewBag.Category = new SelectList(db.Categories.Where(x => x.Visible).OrderBy(x => x.Category_Name).ToList(), "Id", "Category_Name");
            break;
    }
}
<!-- Search Modal -->
<div class="modal fade" id="SearchModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <h4 class="modal-title" style="color:white;">
                    <span class="glyphicon glyphicon-search"></span>
                    @Resource.Search
                </h4>
            </div>
            @using (Html.BeginForm("Search", "Auction", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
            {
                <div class='alert alert-danger' role='alert' style='display: none' id='AlertErrorSearch'>
                    <h4>
                        @Resource.KeywordEmptyError
                    </h4>
                </div>

                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div id="SearchImg">
                        <img src="~/Images/Search2.png" width="150" height="130" class="hidden-xs" alt="@Resource.Image" />
                    </div>
                    @Html.Label("KeywordLbl", Resource.Keyword, new { @class = "lable form-inline" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-bullhorn"></i></span>
                        @Html.TextBox("Keyword", null, new { @class = "form-control", placeholder = Resource.SearchPlaceHolder })
                    </div>
                    <p style="color:black; font-size:8pt;">
                        <b>@Resource.Ex .</b>
                        @Resource.SearchEx .
                    </p>
                    @Html.Label("CategoryLbl", Resource.Category, new { @class = "lable form-inline" })
                    @Html.DropDownList("Category", null, Resource.All, new { @class = "form-control dropDownList" })
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        @Resource.Cancel
                    </button>
                    <button type="submit" class="btn btn-success" onclick="return keywordIsEmpty();">
                        <span class="glyphicon glyphicon-search"></span>
                        @Resource.Search
                    </button>
                </div>
            }
        </div>

    </div>
</div>

