@model OnlineAuctionProject.Models.ForgotPasswordViewModel
@using OnlineAuctionProject.Resources
@{
    ViewBag.Title = Resource.ForgotPassword;
}

<h3>
    <span class="glyphicon glyphicon-eye-close"></span>
    @Resource.ForgotPassword
</h3>

<hr />

<div class="Box">
    <div class="row">
        <div class="col-lg-12">

            @using (Html.BeginForm())
            {
                <h4 class="text-info">
                    @Resource.ForgotPasswordEnterEmail
                </h4>
                @Html.TextBoxFor(model => model.Email, null, new { @class = "form-control", placeholder = Resource.EmailPlaceHolder })
                @Html.ValidationMessageFor(model => model.Email)
                <br />
                <input type="submit" value="@Resource.SendPassword" class="btn btn-default" />
                <br />
                <div class="alert-info">
                    <h4 class="text-danger">
                        @ViewBag.PasswordChangedMsg
                    </h4>
                </div>
            }
        </div>
    </div>
</div>

