@using OnlineAuctionProject.Resources
@{
    ViewBag.Title = Resource.About;
}

<h3>
    <span class="glyphicon glyphicon-info-sign"></span>
    @Resource.About
</h3>
<hr />

<div class="Box">
    <div class="row text-center">
        <div class="col-lg-4">
            <div class="well well-lg">
                <h4 class="text-info">
                    @Resource.SVU
                </h4>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="well well-lg">
                <h4 class="text-info">
                    @Resource.ISE
                </h4>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="well well-lg">
                <h4 class="text-info">
                    @Resource.Project1 - @Resource.Brand
                </h4>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">

            <div class="panel panel-success">
                <div class="panel-heading text-center">
                    <h4 >
                        @Resource.SharifQasrawi
                    </h4>
                </div>
                <div class="panel-body">
                    <h4>
                        @Resource.ContactInfo
                    </h4>
                    <p>
                        <a href="https://www.facebook.com/sharifqasrawi" target="_blank">
                            <img src="~/Images/facebook.png" class="facebookImg" alt="@Resource.FBProfile" />
                            @Resource.FBProfile
                        </a>
                    </p>
                    <p>
                        <img src="~/Images/at.png" class="facebookImg" alt="@Resource.Email" />
                        @Resource.Email: sherifqasrawi@windowslive.com
                    </p>
                    
                </div>
            </div>
        </div>
   
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Images/online_auction.png" class="img-responsive" id="aboutImg" alt="@Resource.Image" />
        </div>
    </div>
</div>

