@model IPagedList<OnlineAuctionProject.Models.Category>
@using OnlineAuctionProject.Resources
@using OnlineAuctionProject.Models
@using OnlineAuctionProject.ManageWebsiteLanguage
@using PagedList
@using PagedList.Mvc
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = Resource.Home;
    ApplicationDbContext db = new ApplicationDbContext();
    string currentUserId = User.Identity.GetUserId();
}
<div id="fb-root"></div>
<script type="text/javascript">
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "http://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    @if ((User.IsInRole("Admin") || User.IsInRole("Supervisor") || User.IsInRole("Support")) && !User.IsInRole("User"))
    {
        <text>
    window.location.href = '@Url.Action("Index","Admin")';
    </text>
    }
</script>
<h3>
    <span class="glyphicon glyphicon-home"></span>
    @Resource.Home
</h3>


<hr />
<div class="Box">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-8 col-md-7 col-sm-7 alert-info">
                <div class="">
                    <h4>
                        @switch (OnlineAuctionProject.ManageWebsiteLanguage.SiteLanguages.GetCurrentLanguageCulture())
                        {
                            case "en-US":
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                break;
                            case "ar-SA":
                            <span class="glyphicon glyphicon-chevron-left"></span>
                                break;
                        }
                        @Resource.ChooseACategoryAndCheckTheOfferdAuctions
                    </h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
                @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                {
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-question-sign"></i></span>
                        @Html.TextBox("Search", null, new { @class = "form-control", placeholder = Resource.Search })
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default btnSearch">
                                @Resource.Search
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            @if (Model.Count == 0)
            {
                <h3 class="text-danger text-center">
                    @Resource.NoRecordsFound
                </h3>
            }
            else
            {
                foreach (var m in Model)
                {
                    var auctionsCount = db.Auctions.Where(x => x.Product.Category.Id == m.Id && x.Finish_Date > DateTime.Now && x.Seller.Id != currentUserId).Count();
                    <div class="CategoryBox text-center">
                        <img src="@Url.Content(m.Image)" class="img-thumbnail CategoryImg img-responsive" alt="@m.Category_Name (@Resource.Image)" />
                        <p>
                            <a href="@Url.Action("Index", "Auction", new { Id = m.Id })" class="text-info btn btn-default">
                                @switch (SiteLanguages.GetCurrentLanguageCulture())
                                {
                                    case "en-US":
                                        @:@m.Category_Name
                                    break;
                                    case "ar-SA":
                                    @:@m.Category_Name_Ar
                                    break;
                                    default:
                                    @:@m.Category_Name
                                    break;
                                }
                                <span class="badge"> @auctionsCount</span>
                            </a>
                        </p>
                    </div>
                }
            }
            @Html.PagedListPager(Model, page => Url.Action("Index", "Home", new { page }),
                        new PagedListRenderOptions()
                        {
                            Display = PagedListDisplayMode.IfNeeded,
                            DisplayPageCountAndCurrentLocation = true,
                        })
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-7">
            <div id="HomePagePanel">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">@Resource.BrowseAuctions</a></li>
                    <li><a data-toggle="tab" href="#menu1">@Resource.SearchForAuctions</a></li>
                    <li><a data-toggle="tab" href="#menu2">@Resource.Bidding</a></li>
                    <li><a data-toggle="tab" href="#menu3">@Resource.Pay</a></li>
                    <li><a data-toggle="tab" href="#menu4">@Resource.Congrats!</a></li>
                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <h3>
                            <span class="glyphicon glyphicon-book"></span>
                            @Resource.BrowseAuctions
                        </h3>
                        <p>
                            @Resource.BrowseTheAuctionsByCategories .
                        </p>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <h3>
                            <span class="glyphicon glyphicon-search"></span>
                            @Resource.SearchForAuctions
                        </h3>
                        <p>
                            @Resource.SearchForAuctionsByProductNameProductDescriptionOrByCurrency .
                        </p>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <h3>
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            @Resource.Bidding
                        </h3>
                        <p>
                            @Resource.StartBiddingOnTheItemUWishToBUY .
                        </p>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                        <h3>
                            <span class="glyphicon glyphicon-credit-card"></span>
                            @Resource.Pay
                        </h3>
                        <p>
                            @Resource.PayOnline
                        </p>
                    </div>
                    <div id="menu4" class="tab-pane fade">
                        <h3>
                            <span class="glyphicon glyphicon-saved"></span>
                            @Resource.Congrats !!
                        </h3>
                        <p>
                            @Resource.CheckYourPurchasedItems!!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <h3 class="cat-title" style="color:white;">
                <img src="~/Images/ThumbFinal_4.9.png" width="20" />
                @Resource.LikeUs
            </h3>
            <p class="cat-title-after"></p>
            <div class="fb-page"
                 data-href="https://www.facebook.com/OnlineAuctionPr1/" data-width="250"
                 data-small-header="true" data-adapt-container-width="true" data-hide-cover="false"
                 data-show-facepile="true"
                 data-title="Facebook">
                <blockquote cite="https://www.facebook.com/OnlineAuctionPr1/"
                            class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/OnlineAuctionPr1/" class="btn btn-primary" target="_blank">
                        <img src="~/Images/facebook.png" width="20" />
                        @Resource.OurPageOnFacebook
                    </a>
                    <span class="sr-only">Loading...</span>
                </blockquote>
            </div>
        </div>
    </div>
</div>
