@using OnlineAuctionProject.Resources

<div class="modal fade" id="ChangeOpeningBidModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <h4 class="modal-title" style="color:white;">
                    <span class="glyphicon glyphicon-eur"></span>
                    @Resource.ChangeAuctionOpeningBid
                </h4>
            </div>
            <div class='alert alert-danger' role='alert' style='display: none' id='AlertErrorExtend'>
                <h4>
                    @Resource.Error
                </h4>
            </div>

            @using (Html.BeginForm("ChangeOpeningBid", "Auction", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                @Html.AntiForgeryToken()
                <div class="modal-body" >
                    <div>
                        <img src="~/Images/system-settings-icon-47595.png" class="ClockImg" alt="@Resource.Image" />
                    </div>
                    <br /><br />
                    @Html.Hidden("OpeningBidFormAuctionId")
                    @Html.Label("OpeningBid", Resource.OpenningPrice, new { @class = "lable form-inline" })

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-eur"></i></span>
                        @Html.TextBox("CurrentBid", 0, new { @class = "form-control", type = "Number", min = "0", placeholder = Resource.OpenningPrice })
                    </div>
                    <br /><br />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">@Resource.Cancel</button>
                    <input type="submit" class="btn btn-success" value="@Resource.Save" onclick="return CanExtend();" />
                </div>
            }
        </div>

    </div>
</div>



