@model IEnumerable<OnlineAuctionProject.Models.Auction>
@using OnlineAuctionProject.Resources


<h4>
    @Resource.PaymentsByCurrency: @Model.FirstOrDefault().Product.Currency.Name
</h4>

<div class="table-responsive">
    <table class="table customTable1">
        <thead>
            <tr>
                <th>
                    @Resource.Auction
                </th>
                <th>
                    @Resource.Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("ViewAuction", "Auction", new { Id = m.Id })">
                            @m.Product.Name
                        </a>
                    </td>
                    <td>
                        @m.Current_Bid @m.Product.Currency.Name
                    </td>
                </tr>
            }
            <tr>
                <th>
                    @Resource.Payment
                </th>
                <th>
                    @ViewBag.Payment
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="@Url.Action("PayBill", "Auction")" class="btn btn-success btn-block">
                        <span class="glyphicon glyphicon-credit-card"></span>
                        @Resource.PayBill
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

